node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
bun.lock
.eslintcache
.stylelintcache
.env
.vercel
.netlify

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
